@*
 * This file shows the address and payment screen
 * Filename: AddressAndPayment.cshtml
 * Modified date: 12/16/2016
 * Website: fantasyburgers.azurewebsites.net
 * Authors:
 *      - Eddie Song
 *      - Waynnel Lovelll
 *      - Thiago de Andrade
 *      - Sahil Mahajan
 *      - Anmol Sharma
 *@
@model FantasyBurgers.Models.Order
@{
    ViewBag.Title = "Address And Payment";
}

<div style="margin-top:165px;" class="col-md-offset-2">
    @using (Html.BeginForm())
    {
        <h2>AddressAndPayment</h2>
        <fieldset>
            <legend>Shipping Information</legend>
            @Html.EditorForModel()
        </fieldset>
        <fieldset>
            <legend>Payment</legend>
            <p>
                We're runnign a promotion: all food is free
                with the promo code: "Burgers"
            </p>
            <div class="editor-label">
                @Html.Label("Promo Code")
            </div>
            <div class="editor-field">
                @Html.TextBox("PromoCode")
            </div>
        </fieldset>

        <input type="submit" value="Submit Order" />
    }
</div>