@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<!--Author's name: Waynell Lovell,
                   Thiago De Andrade Souza,
                   Edward Song,
                   Sahil Mahajan,
                   Anmol .
    Date Created: November 30th, 2016
    Version	History: Part-1.Project Concept, Landing Page &	Site Security,
                     Part-2.Main Functionality & Database Connectivity,
                     Part-3.Finished Version – Fully Styled	and	Functional
    File Description: Checkout Complete Message. -->

<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about shopping for some more music in our
    @Html.ActionLink("store",
"Index", "Home")
</p>