
<!--
    File Name: About.cshtml
    Authors: Sahil Mahajan
             Waynell Lovell
             Anmol Sharma
    Website Name: fantasyburgers.azurewebsites.net
    File Description: About us page for the information about our company.
 -->


@{
    ViewBag.Title = "About";
}
<section id="about" class="about">
    <img src="~/Content/Images/Icons/aboutUs.png" class="img-responsive section-icon hidden-sm hidden-xs"/>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row dis-table">
                <div class="hidden-xs col-sm-6 section-bg about-bg dis-table-cell">

                </div>
                <div class="col-xs-12 col-sm-6 dis-table-cell">
                    <div class="section-content">
                        <h2 class="section-content-title">About us</h2>
                        <p class="section-content-para">
                            Fantasy burgers was a long time dream of 3 programmers who wanted to retire and start a burger joint. After retiring, their burgers quickly became well known, and fantasy burgers franchises now can be found in 10 locations across U.S. We welcome you to come in and enjoy our finger licking burgers.
                        </p>
                        <p class="section-content-para">
                            A liitle about our burgers: They are beautiful, warm, looked so fragile, so delicate, that if you eat one, you never want to stop eating more, and you are right to do so, so join us at fantasy burgers, and enjoy the burgers straight out of your fantasies.
                        </p>
                    </div> <!-- /.section-content -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container-fluid -->
    </div> <!-- /.wrapper -->
</section> <!-- /#about -->

<section id="great-place-to-enjoy" class="great-place-to-enjoy">
     <img class="img-responsive section-icon hidden-sm hidden-xs" src="/Content/Images/Icons/bread_color.png">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row dis-table">
                <div class="col-xs-6 col-sm-6 dis-table-cell color-bg">
                    <h2 class="section-title">Great Place to enjoy</h2>
                </div>
                <div class="col-xs-6 col-sm-6 dis-table-cell section-bg">

                </div>
            </div> <!-- /.dis-table -->
        </div> <!-- /.row -->
    </div> <!-- /.wrapper -->
</section>

<section id="bread" class="bread">
    <img class="img-responsive section-icon hidden-sm hidden-xs" src="/Content/Images/Icons/bread_color.png">
    <div class="container-fluid">
        <div class="row dis-table">
            <div class="hidden-xs col-sm-6 dis-table-cell section-bg">

            </div>

            <div class="col-xs-12 col-sm-6 dis-table-cell">
                <div class="section-content">
                    <h2 class="section-content-title">Our Bread</h2>
                    <div class="section-description">
                        <p class="section-content-para">
                            The bread used at fantasy burger restaurants has been backed with the precision of a well written software, just the right temperature so it's soft, yet crunchy and delicious when you bite into your fantasy burger.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>