@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<!--Author's name: Waynell Lovell,
                   Thiago De Andrade Souza,
                   Edward Song,
                   Sahil Mahajan,
                   Anmol .
    Date Created: November 30th, 2016
    Version	History: Part-1.Project Concept, Landing Page &	Site Security,
                     Part-2.Main Functionality & Database Connectivity,
                     Part-3.Finished Version – Fully Styled	and	Functional
    File Description: Lets the admin user know an error has occured during the processing of their request, and
    allows them to submit another request in the previous page if they choose to go back to the previous page. -->

<div style="margin-top: 165px;">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <h3 class="text-danger">Yes it was an error on our end.</h3>
    <p>
        <a href="javascript:history.go(-1)">Click here</a>
        if you'd like to go back and try that again.
    </p>
</div>

